.card {
  margin: 0px 1.25rem 0px;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: thick;
  border-color: #d1d5db;
  width: 21.875rem;
  height: 14.438rem;
}

.head {
  display: flex;
  margin: 1.25;
  justify-content: space-between;
}

.photo {
  background-image: url("../../assets/cards_photo.png");
  margin-right: 1.25rem;
  flex-basis: 50%;
  border-radius: 0.5rem;
  width: 14.438rem;
  height: 6.188rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.attributes {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.description {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 18rem;
  height: 2.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.low_buttons {
  display: flex;
  margin: 1.25rem;
  justify-content: space-between;
}

.name {
  flex-basis: 50%;
  justify-content: flex-end;
  align-self: center;
}
