@font-face {
  font-family: 'MontRegular';
  src: url('../../assets/Mont/Mont-Regular.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MontBold";
  src: url("../../assets/Mont/Mont-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

.card {
  margin: 0px 1.25rem 1.563rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: thick;
  border-color: #d1d5db;
  width: 21.875rem;
  height: 14.438rem;
}

.head {
  display: flex;
  margin: 1.25;
  justify-content: space-between;
}


.attributes {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  height: 18px;
  width: 18px;
}

.description {
  max-height: 3em;
  /* Обрезаем текст, если он не помещается в блоке */
  overflow: hidden;
  /* Добавляем многоточие в конце обрезанного текста */
  text-overflow: ellipsis;
  /* Запрещаем перенос слов */
  white-space: wrap;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 18rem;
  font-size: 0.75rem;
  font-family: MontRegular;
  font-weight: 600;
}

.low_buttons {
  display: flex;
  margin: 0 1.25rem 0;
  justify-content: space-between;
  align-items: flex-end;
}

.name {
  font-family: MontBold;
  font-size: 1rem;
  font-weight: 600;
  flex-basis: 50%;
  justify-content: flex-end;
  align-self: center;
}
