@font-face {
  font-family: 'MontBold';
  src: url('../../assets/Mont/Mont-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

.details_div {
  width: 30.625rem;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

#sidebar{
  display: flex;
  flex-direction: row;
  max-width: 37.5rem;
}

#button_exit {
  display: flex;
  justify-content: start;
  align-items: center;
}

.text_favourite_addition_info {
  padding-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #1f2937;
  font-family: MontBold;
}